.center {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bpm-value {
  font-size: 10rem;
  line-height: 1em;
  margin-block: 0;
}
.bpm-value-hit {
  // transform: scale(1.125);
  animation: pulse 50ms 1;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }

  35% {
    transform: scale(1.125);
  }

  100% {
    transform: scale(1);
  }
}
.bpm-label {
  margin-block: 0;
}
.bpm-block {
  border: 8px solid #ff7711;
  padding: 16px;
}

.button-panel {
  text-align: center;
  margin-top: 32px;
}

.introduction {
  font-weight: 300;
  margin-bottom: 32px;
}

.tap-button {
  align-self: center;
  margin-bottom: 32px;
}
