<div class="center">
  <h1>Tap BPM</h1>
  <span class="introduction">
    Press the <b>button</b> below or the <b>space bar</b> to measure the beats
    per minute.
    <br />
    The BPM resets after 2 seconds without touching or clicking.
  </span>
  <button
    mat-fab
    class="tap-button"
    color="primary"
    aria-label="Tap to the beat"
    (click)="handleBeat()"
  >
    TAP
  </button>
  <div class="bpm-block">
    <h1 class="bpm-value" [ngClass]="{ 'bpm-value-hit': isHit }">
      {{ this.getBpm() || "0" }}
    </h1>
    <h1 class="bpm-label">BPM</h1>
  </div>
  <div class="button-panel">
    <button
      mat-button
      [cdkCopyToClipboard]="getBpm()?.toString() || '0'"
      aria-label="Copy beats per minute to clipboard"
    >
      <mat-icon>content_copy</mat-icon>
      Copy
    </button>
    <button mat-button aria-label="Reset beats per minute" (click)="reset()">
      <mat-icon>replay</mat-icon>
      Reset
    </button>
  </div>
</div>
