// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

$primary-palette: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: rgb(178, 83, 11),
  400: rgb(178, 83, 11),
  500: #ff7711,
  600: #ff7711,
  700: rgb(255, 146, 64),
  800: rgb(255, 146, 64),
  900: rgb(255, 146, 64),
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tap-bpm-primary: mat.define-palette($primary-palette, 500);
$tap-bpm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tap-bpm-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tap-bpm-theme: mat.define-light-theme(
  (
    color: (
      primary: $tap-bpm-primary,
      accent: $tap-bpm-accent,
      warn: $tap-bpm-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tap-bpm-theme);

/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}
body {
  margin: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #303030;
  color: white;
}
